

	<div class="-fx-image-gal">
		<div class="-fx-gal-item">
			<div class="-fx-gal-image-thumb" tabindex="1">
				<a href="https://codepen.io/aledebarba" target="_blank">
					<img src="https://picsum.photos/id/237/300/300" />
				</a>
			</div>
		</div><!-- /-fx-gal-item -->

		<div class="-fx-gal-item">
			<div class="-fx-gal-image-thumb" tabindex="1">
				<a href="https://codepen.io/aledebarba" target="_blank">
					<img src="https://picsum.photos/id/238/300/300" />
				</a>
			</div>
		</div><!-- /-fx-gal-item -->

		<div class="-fx-gal-item">
			<div class="-fx-gal-image-thumb" tabindex="1">
				<a href="https://codepen.io/aledebarba" target="_blank">
					<img src="https://picsum.photos/id/39/300/300" />
				</a>
			</div>
		</div><!-- /-fx-gal-item -->

		<div class="-fx-gal-item">
			<div class="-fx-gal-image-thumb" tabindex="1">
				<a href="https://codepen.io/aledebarba" target="_blank">
					<img src="https://picsum.photos/id/240/300/300" />
				</a>
			</div>
		</div><!-- /-fx-gal-item -->

		<div class="-fx-gal-item">
			<div class="-fx-gal-image-thumb" tabindex="1">
				<a href="https://codepen.io/aledebarba" target="_blank">
					<img src="https://picsum.photos/id/341/300/300" />
				</a>
			</div>
		</div><!-- /-fx-gal-item -->

		<div class="-fx-gal-item">
			<div class="-fx-gal-image-thumb" tabindex="1">
				<a href="https://codepen.io/aledebarba" target="_blank">
					<img src="https://picsum.photos/id/142/300/300" />
				</a>
			</div>
		</div><!-- /-fx-gal-item -->
	</div><!-- /gallery -->