{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
            <div class="row header justify-content-center mt-8">
                <div class="col-lg-5 col-12 profile-pic shadow-lg" style="background-image: url('{{info.cover_image}}')">
                    {% comment %} <img class="shadow-lg" src="{% static 'img/charaf.jpg' %}" width=60%> {% endcomment %}
                </div>
                <div class="col-lg-7 pl-lg-4">
                    <p class="name">Hey, I'm <span class="text-capitalize">{{info.full_name}}</span></p>
                    <p>{{info.description}}</p>

                    <p class="display-5">Say hi to me on these social networks:</p>
                    <a href="{{info.facebook}}" target="_blank" class="follow m-2">
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </a>
                    <a href="{{info.instagram}}" target="_blank" class="follow m-2">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a href="{{info.linkedin}}" target="_blank" class="follow m-2">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                    <a href="{{info.px500}}" target="_blank" class="follow m-2">
                        <i class="fab fa-500px fa-2x"></i>
                    </a>
                    <a href="mailto:{{info.email}}" target="_blank" class="follow m-2">
                        <i class="fa fa-envelope fa-2x"></i>
                    </a>
                </div>
                <div class='scrolldown'>
                    <div class="chevrons"></div>
                </div>
            </div>

        <div class="mt-4" id="gallery">
            {% include 'gallery.html' %}
        </div>
        
        <div class="" id="feed">
            {% include 'instagram_feed.html' %}
        </div>

        <div class="row my-5">
            <div class="col-12 text-center">
                <div class="title mt-lg-5 mt-8 mb-4" id="contact-me">
                    <h1><span>Contact Me</span></h1>
                </div>
                <a href="{{info.facebook}}" target="_blank" class="follow m-2">
                    <i class="fab fa-facebook-square fa-2x"></i>
                </a>
                <a href="{{info.instagram}}" target="_blank" class="follow m-2">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="{{info.linkedin}}" target="_blank" class="follow m-2">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <a href="{{info.px500}}" target="_blank" class="follow m-2">
                    <i class="fab fa-500px fa-2x"></i>
                </a>
                <a href="mailto:{{info.email}}" target="_blank" class="follow m-2">
                    <i class="fa fa-envelope fa-2x"></i>
                </a>
            </div>
        </div>
            
            
            

    </div>
{% endblock content %}
{% block script%}
{% endblock script%}