
.title {
	max-width: 1440px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-top: 4rem;
}
.title h1 {
	font-size: 2rem;
	text-transform: uppercase;
}
.title h1:after {
	content: "";
	width: 100px;
	height: 3px;
	background-color: #d03a63;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
.title h1 span {
	background: linear-gradient(45deg, #33d9b2, #ff2a8a);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.cont {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-auto-rows: 400px;
	grid-gap: 8px;
	grid-auto-flow: dense;
}
@media (max-width: 699px) {
	.cont {
		grid-template-columns: 1fr 1fr;
   }
}
@media (max-width: 499px) {
	.cont {
		grid-template-columns: 1fr;
   }
}
.cont figure {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
}
.cont figure figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.65);
	padding: 10px 15px;
	/* opacity: 0;
	transition: all .5s; */
}
/* .cont:hover figure figcaption {
	opacity: 1;
} */
.cont figure figcaption span {
	color: #fff;
	display: block;
}
.cont figure figcaption span.img-title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0.4rem;
}
@media (min-width: 376px) {
	.cont figure figcaption span.img-title {
		font-size: 18px;
   }
}
.cont figure figcaption span.img-description {
	font-size: 14px;
}
@media (min-width: 376px) {
	.cont figure figcaption span.img-description {
		font-size: 14px;
   }
}
.cont img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}

@media (min-width: 799px) {
	.horizontal {
		grid-column: span 2;
   }
}
@media (min-width: 799px) {
	.vertical {
		grid-row: span 2;
   }
}
@media (min-width: 799px) {
	.big {
		grid-column: span 2;
		grid-row: span 2;
   }
}

.cont figure img {
	transition: all .5s ;
}
.cont figure:hover img {
	border-radius: 15px;
}
.show-more {
	color: #ffffff;
	font-weight: 500;
	font-size: 18px;
	background-color: #000000;
	border: #00cc9c solid 2px;
	padding: 5px;
	width: 200px;
	height: 45px;
	border-radius: 15px;
	margin-top: 15px;
	transition: background-color .5s;
}
.show-more:hover {
	color: #fff;
	background-color: #00ffc356;
}